{{define "title"}}
Privacy Policy for the Chrome Extennsion - Lucentsave
{{end}}

{{define "main"}}

{{template "pageBodyStart"}}

<div class="mt-12 mb-12 mx-auto w-max border-black border-2 p-8">
    <div class="space-y-2">
        <div class="flex items-baseline font-semibold">
            <span class="text-black text-2xl font-extrabold mr-2">Lucent</span>
            <span class="text-black text-base font-light">[ˈlü-sᵊnt]</span>
            <span class="text-black text-base font-semibold italic ml-2">adjective</span>
        </div>
        <div class="flex">
            <span class="font-bold mr-1 w-4 inline-block">1.</span>
            <span class=" text-black">Glowing with light</span>
        </div>
        <div class="flex">
            <span class="font-bold mr-1 w-4 inline-block">2.</span>
            <span class=" text-black">Marked by clarity or translucence</span>
        </div>
    </div>
</div>
<div class="font-normal text-black mb-12 mx-auto text-center text-base">
    A dead simple website for saving the things you want to read.
</div>


<div
    class="prose
			prose-base md:prose-lg text-black mt-2 pb-4 prose-pre:rounded-none prose-pre:bg-gray-100 prose-pre:text-black
			prose-img:mx-auto prose-img:mb-1 prose-quoteless prose-blockquote:font-normal hover:prose-a:text-gray-500
			relative prose-code:before:hidden prose-code:after:hidden prose-code:bg-gray-100 prose-code:font-normal prose-code:p-0.5">
    <ol>
        <li><strong>What data is collected</strong>
            <p>The Lucentsave Chrome extension collects and uses the following data:</p>
            <ul>
                <li><strong>Authentication JWT token:</strong> This is collected when you log into the Lucentsave
                    extension. This token is saved in the cookies of Lucentsave.com and is used to authenticate your
                    login session.</li>
                <li><strong>Saved pages:</strong> The extension collects the HTML of the page you're currently reading
                    when you choose to save it through the extension. This is used to save the page's reader-viewed HTML
                    on our backend.</li>
                <li><strong>User emails and hashed passwords:</strong> Collected when you create an account or log in.
                    These are used for account creation and authentication.</li>
                <li><strong>Saved posts and highlights:</strong> Collected when you save a post or create a highlight.
                    These are used to provide our service to you, allowing you to save, read, and organize pages.</li>
            </ul>
        </li>
        <li><strong>How the data is used</strong>
            <p>The collected data is used to provide and improve our services. We do not share your data with third
                parties, nor do we use it for personalized advertisements, credit-worthiness assessments, or lending
                purposes. The collected data is only used in ways that are necessary to provide or improve the single
                purpose of the Lucentsave extension.</p>
        </li>
        <li><strong>User Consent</strong>
            <p>By using the Lucentsave Chrome extension, you consent to this Privacy Policy and agree to the data
                collection and usage outlined herein. We only collect data after you've given your consent and we ensure
                that we only collect data that is necessary to provide our services.</p>
        </li>
        <li><strong>Security Measures</strong>
            <p>We take your data security seriously. We employ industry standard security measures to protect your data
                and we review and update our security measures regularly.</p>
        </li>
        <li><strong>Changes to this Policy</strong>
            <p>This Privacy Policy may be updated from time to time. The updated policy will be posted on this page, so
                please review it periodically.</p>
        </li>
    </ol>
</div>

{{template "pageBodyEnd"}}

{{end}}