{{define "title"}}

{{if eq .Path "/saved"}}
Saved Posts - Lucentsave
{{end}}

{{if eq .Path "/read"}}
Read Posts - Lucentsave
{{end}}

{{if eq .Path "/search"}}
Search Posts - Lucentsave
{{end}}

{{end}}

{{define "postEntry"}}
<div class="flex justify-between items-center py-4">
    <a href="/post?id={{.Post.ID}}" class="hover:text-gray-500 dark:text-white dark:hover:text-gray-300">
        <h2 class="text-xl md:text-2xl font-bold block">{{.Post.Title}}</h2>
        <p class="text-sm block">{{(baseURL .Post.URL)}}</p>
    </a>

    {{if .ShowLikeCheckbox}}
    <button type="button" id="like-button-{{.Post.ID}}" onclick="toggleLike('{{.Post.ID}}')"
        class="text-black px-2 py-1 cursor-pointer text-xl hover:text-gray-500 dark:text-white dark:hover:text-gray-300"
        style="display: {{if .Post.IsRead}}block{{else}}none{{end}};">
        {{if .Post.IsLiked}} ★ {{else}} ☆ {{end}}
    </button>
    {{end}}
</div>
{{end}}

{{define "postList"}}
<div class="justify-between items-center mt-4 border-black dark:border-white border-b-2 border-dashed pb-4 hidden" id="indicator">
    <div class="text-sm block italic dark:text-white" id="indicatorText">Saving...</div>
</div>

<div id="posts" class="divide-y-2 divide-black dark:divide-white divide-dashed">
    {{$showCheckbox := eq .Path "/read"}}
    {{range $index, $element := .Posts}}
    {{template "postEntry" dict "Post" $element "ShowLikeCheckbox" $showCheckbox}}
    {{end}}
</div>
{{end}}

{{define "content"}}

{{if eq .Path "/read"}}
<script>
    // Toggle like state for a post by ID
    function toggleLike(postId) {
        var button = document.getElementById('like-button-' + postId);
        var isLiked = button.textContent.trim() === '★'; // Check current state from button text

        // Toggle the state
        isLiked = !isLiked;
        button.textContent = isLiked ? '★' : '☆';

        values = {}
        if (isLiked) {
            values.liked = true
        }

        // Update the server state using htmx.ajax
        htmx.ajax('POST', '/mark-liked?id=' + postId, {
            values: values,
            swap: 'none'
        }).then(() => {
            console.log('Like state updated successfully for post', postId);
        }).catch(error => {
            console.error('Failed to update like state for post', postId, error);
        });
    }
</script>
{{end}}

{{if eq .Path "/saved"}}
<form id="saveForm" class="mt-5 flex items-center space-x-2">
    <input type="url" id="urlInput" name="url" placeholder="Enter link to save here..."
        class="w-full py-1 px-2 border-2 border-black dark:border-white dark:bg-black dark:text-white" required tabindex="1">
    <button type="submit"
        class="py-1 px-2 border-2 border-black dark:border-white bg-black text-white hover:bg-gray-700 dark:hover:bg-gray-600 cursor-pointer">Save</button>
</form>


<script async src="../static/readability.js"></script>
<script>
    // focus input box when we press '/'
    document.addEventListener('keydown', function (e) {
        if (e.key === '/' || e.keyCode === 191) {
            e.preventDefault();
            document.getElementById('urlInput').focus();
        }
    });

    document.getElementById('saveForm').addEventListener('submit', function (e) {
        e.preventDefault();

        const indicatorElm = document.getElementById('indicator')
        const indicatorTextElm = document.getElementById('indicatorText')
        indicatorElm.classList.remove('hidden')
        indicatorElm.classList.add('flex')
        indicatorTextElm.textContent = 'Saving post...'

        const formData = new FormData(e.target);
        const url = formData.get('url');

        // we're doing something htmx-like a bit manually. do the POST to get the html fragment to add to the post list, 
        // but check for errors in fetching the post. if no errors then htmx.swap the fragment into the post list.
        htmx.ajax('POST', '/save', {
            values: { url: url },
            handler: (response) => {
                const status = response['htmx-internal-data'].xhr.status;
                if (status >= 400) { // check for failing to save the post...
                    indicatorTextElm.textContent = "Failed to save post"
                } else {
                    htmx.swap("#posts", response["htmx-internal-data"].xhr.response, { swapStyle: 'afterbegin' });
                    console.log('Post saved and UI updated successfully!');
                    indicatorElm.classList.remove('flex')
                    indicatorElm.classList.add('hidden')
                    e.target.reset();
                }
            }
        })
    });
</script>
{{end}}

{{if eq .Path "/search"}}
<form class="mt-5 flex items-center w-full" onsubmit="return false">
    <input tabindex="1" type="search" name="query" class="flex-1 py-1 px-2 border-2 border-black dark:border-white dark:bg-black dark:text-white"
        placeholder="Enter term to start searching..." hx-post="/query" hx-trigger="input changed delay:100ms, search"
        hx-target="#posts" hx-indicator="#query-indicator" hx-swap="outerHTML" />
    <div id="query-indicator" class="opacity-0 my-indicator ml-3">
        <img src="../../static/spinner.svg" class="w-6 h-6" alt="Loading...">
    </div>
</form>

{{end}}

{{template "postList" .}}

{{end}}