@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

.my-indicator {
    opacity: 0;
}

.htmx-request .my-indicator {
    opacity: 1;
}

.htmx-request.my-indicator {
    opacity: 1;
}